*{
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 400%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 50px;
   
    background-size: cover;
    text-align: center;
}

.bg-img {
    background-image: url("images/leaves.jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain ;
}
.img1{
    height: 180px;
    width: 280px;
}
img{
    height: 180px;
    width: 280px;
}
body{
    background-image: url("images/leaves.jpg");
}